@*@using JuiceBar.Data.Models
    @model IEnumerable<Drink>*@

@model DrinkListViewModel

<div>
    <h2>@Model.CurrentCategory</h2>
</div>

@{
    foreach (var drink in Model.Drinks)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@drink.ImageThumbnailUrl" alt="Missing this image" />
                <div class="caption">
                    <h3 class="pull-right">
                        @drink.Price.ToString("c")
                    </h3>
                    <h3><a>@drink.Name</a></h3>
                    <p>@drink.ShortDescription</p>
                </div>
            </div>
        </div>
    }
}